source "$(dirname "${BASH_SOURCE[0]}")/private.config"
ROOT=${HPC_PROJECTS}/HCT_Gut_Resistome_Study/HCT_Gut_Resistome_Sequence_Processing
cohort=Duke
read=hybrid
dataset=${cohort}_${read}
DATA_ROOT=${HPC_PROJECTS}/HCT_Gut_Resistome_Study/HCT_Gut_Resistome_Data/unprocessed/${cohort}
PROCESSED_ROOT=${HPC_PROJECTS}/HCT_Gut_Resistome_Study/HCT_Gut_Resistome_Data/processed/${cohort}
datasetDir=${DATA_ROOT}/${dataset}

short_seqPath=${SEQ_PATH_DUKE_SHORT}
long_seqPath=${SEQ_PATH_DUKE_LONG}

sampleList=../pipelineScripts/sample_lists/ONT-Samples.txt

conda_init=/apps/pkg/anaconda3/2023.09/etc/profile.d/conda.sh
conda_envs=${HPC_HOME}/.conda/envs
BAKTA_ENV=${conda_envs}/bakta-env
BAKTA_DB=${ROOT}/databases/bakta/db/db

miniforge_init=${HPC_HOME}/miniforge3/etc/profile.d/conda.sh
AMRFINDER_ENV=${HPC_HOME}/miniforge3/envs/amrfinder
RGI_ENV=${HPC_HOME}/miniforge3/envs/rgi

# Email address to receive job completion updates
email=${email_long}

# Module-specific parameters

# Pre-processing
    short_read_qc_opts="--partition=Orion --nodes=1 --ntasks-per-node=32 --mem-per-cpu=256GB --mail-user=${email} --time=10:00:00 --mail-type=END,FAIL "

    long_read_qc_opts="--partition=Orion --nodes=1 --ntasks-per-node=32 --mem-per-cpu=1200GB --mail-user=${email} --time=50:00:00 --mail-type=END,FAIL"

    R1_ext=R1_001.fastq.gz
    R2_ext=R2_001.fastq.gz



# Assembly
    asm_opts="--partition=Orion --nodes=1 --ntasks-per-node=32 --mem-per-cpu=30GB --time=120:00:00 --mail-user=${email} --mail-type=END,FAIL"



# Evaluation
    eval_opts="--partition=Orion --nodes=1 --ntasks-per-node=16 --mem=8GB --time=01:00:00 --mail-user=${email} --mail-type=END,FAIL"



# Kraken2
    k2_opts="--partition=Orion --nodes=1 --ntasks-per-node=16 --mem=256GB --time=24:00:00 --mail-user=${email} --mail-type=END,FAIL"



# Binning    
    bin_opts="--partition=Orion --nodes=1 --ntasks-per-node=16 --mem=128GB --time=24:00:00 --mail-user=${email} --mail-type=END,FAIL"



# Refinement
    refine_opts="--partition=Orion --nodes=1 --ntasks-per-node=32 --mem=128GB --time=10:00:00 --mail-user=${email} --mail-type=END,FAIL"

    max_completion=70
    min_contam=10



# Reassembly
    reassem_opts="--partition=Orion --nodes=1 --ntasks-per-node=48 --mem=1200GB --time=168:00:00 --mail-user=${email} --mail-type=END,FAIL"


# Classification
    classify_opts="--partition=Orion --nodes=1 --ntasks-per-node=48 --mem=256GB --time=10:00:00 --mail-user=${email} --mail-type=END,FAIL"


# Annotation
    annotate_opts="--partition=Orion --nodes=1 --ntasks-per-node=48 --mem=256GB --time=05:00:00 --mail-user=${email} --mail-type=END,FAIL"


# AMR detection
    amr_opts="--partition=Orion --nodes=1 --ntasks-per-node=8 --mem=8GB --time=05:00:00 --mail-user=${email} --mail-type=END,FAIL"


# Assembly Gene Profiling
    asm_profile_opts="--partition=Orion --nodes=1 --ntasks-per-node=24 --mem=80GB --time=48:00:00 --mail-user=${email} --mail-type=END,FAIL"   



# DO NOT CHANGE
readType=hybrid
