source "$(dirname "${BASH_SOURCE[0]}")/private.config"
bashrc=${HPC_HOME}/.bashrc
bash_profile=${HPC_HOME}/.bash_profile

# Root directory paths -----------------------------------------------------------------------------
    cohort=UNC
    read=short
    dataset=${cohort}_${read}
    ROOT=${HPC_PROJECTS}/HCT_Gut_Resistome_Study/HCT_Gut_Resistome_Sequence_Processing
    DATA_ROOT=${HPC_PROJECTS}/HCT_Gut_Resistome_Study/HCT_Gut_Resistome_Data/unprocessed/${cohort}
    PROCESSED_ROOT=${HPC_PROJECTS}/HCT_Gut_Resistome_Study/HCT_Gut_Resistome_Data/processed/${cohort}
    datasetDir=${DATA_ROOT}/${dataset}
    ScriptPath=${ROOT}/pipelineScripts/scripts
    module_functions=${ScriptPath}/helper_scripts/module_completion.sh
    moduleScriptPath=${ScriptPath}/${read}_scripts
    print_functions=${ROOT}/pipelineScripts/configs/functions.sh

# Raw sequence path --------------------------------------------------------------------------------
    seqPath=${SEQ_PATH_UNC_SHORT}

# Sample list --------------------------------------------------------------------------------------
    sampleList=${ROOT}/pipelineScripts/sample_lists/UNC_BMT_Novaseq-Samples.txt

# Choose modules to run ----------------------------------------------------------------------------
    heston=false
    full=true

    run_pre_qc=false; run_dedup=false; run_trim=false; run_decontam=false
    run_asm=false; run_eval=false
    run_k2=false; run_m4=false
    run_bin=false; run_refine=false; run_reassem=false
    run_classify=false; run_annotate=false
    run_amr_nt_asm=false; run_amr_nt_bin=false
    run_shortbred=false; run_rgi_bwt=false
    run_amr_aa_asm=false; run_amr_aa_bin=false
    run_clean_up=false

    if $full; then
        run_pre_qc=true; run_dedup=true; run_trim=true; run_decontam=true
        run_asm=true; run_eval=true
        run_k2=true; run_m4=false
        run_bin=true; run_refine=true; run_reassem=true
        run_classify=true; run_annotate=true
        run_shortbred=false; run_rgi_bwt=true
        run_amr_aa_asm=true; run_amr_aa_bin=true
        run_clean_up=true
    fi

    if $heston; then
        run_pre_qc=true; run_dedup=true; run_trim=true; run_decontam=true 
        run_k2=true; run_m4=false
        run_shortbred=false; run_rgi_bwt=true
        run_clean_up=true
    fi

# Conda environments -------------------------------------------------------------------------------
    conda_init=/apps/pkg/anaconda3/2023.09/etc/profile.d/conda.sh
    conda_envs=${HPC_HOME}/.conda/envs
    miniforge_init=${HPC_HOME}/miniforge3/etc/profile.d/conda.sh

    bracken=${HPC_HOME}/PROGRAMS/Bracken-2.7/src
    BAKTA_ENV=${conda_envs}/bakta-env
    AMRFINDER_ENV=${HPC_HOME}/miniforge3/envs/amrfinderplus-4.0.3
    RGI_ENV=${HPC_HOME}/PROGRAMS/rgi_env/bin/activate

# Database paths -----------------------------------------------------------------------------------
    GRCh38_DB=${ROOT}/databases/GRCh38
    BMTAGGER_DB=${ROOT}/databases/BMTAGGER_INDEX
    AMR_DB=${ROOT}/databases/REFs
    CHECKM_DB=${ROOT}/databases/MY_CHECKM_FOLDER
    GTDBtk_DB=${ROOT}/databases/GTDBtk/release226
    KRAKEN2_DB=${ROOT}/databases/KRAKEN2-TESSA-DB
    BAKTA_DB=${ROOT}/databases/bakta/db/db
    SB_MARKERS=${ROOT}/databases/ShortBRED/CARD_4.0.0_ShortBRED_markers.faa

    BLASTDB=${HPC_SCRATCH}/blast/db/v4
    TAXDUMP=${HPC_SCRATCH}/NCBI_tax
    CARD_DB=${HPC_SCRATCH}/RGI_databases/rgi_4.0.1
    METAPHLAN4_DB=${HPC_SCRATCH}/metaphlan4_db

# Module directories -------------------------------------------------------------------------------
    raw_readDir=${datasetDir}/0.0_raw_reads
    pre_qcDir=${datasetDir}/0.1_pre_qc
    dedup_Dir=${datasetDir}/0.2_deduplication
    trimmed_Dir=${datasetDir}/0.3_sequence_trim
    clean_readDir=${datasetDir}/0.4_host_decontamination
    assemblyDir=${datasetDir}/1.1_assembly
    evaluationDir=${datasetDir}/1.2_evaluation
    krakenDir=${datasetDir}/2.1_kraken2
    brackenDir=${datasetDir}/2.2_bracken
    metaphlanDir=${datasetDir}/2.3_metaphlan4
    binningDir=${datasetDir}/3.1_binning
    refinedbinDir=${datasetDir}/3.2_refine_bins
    reassemDir=${datasetDir}/3.3_reassemble_bins
    shortbredDir=${datasetDir}/5.3_shortbred
    rgi_bwt_dir=${datasetDir}/5.4_rgi_bwt

# Email address to receive job completion updates --------------------------------------------------
    email=${email_short}

# Pre-QC -------------------------------------------------------------------------------------------
    pre_qc_opts="--partition=Orion --nodes=1 --ntasks-per-node=8 --mem=16GB --time=00:30:00 --mail-user=${email} --mail-type=FAIL"
    R1_ext=R1*.fastq.gz
    R2_ext=R2*.fastq.gz

# Deduplication ------------------------------------------------------------------------------------
    dedup_opts="--partition=Orion --nodes=1 --ntasks-per-node=16 --mem=64GB --time=01:30:00 --mail-user=${email} --mail-type=FAIL"

# Sequence trimming & quality filtering ------------------------------------------------------------
    trim_opts="--partition=Orion --nodes=1 --ntasks-per-node=8 --mem=32GB --time=05:00:00 --mail-user=${email} --mail-type=FAIL"

# Host decontamination -----------------------------------------------------------------------------
    decontam_opts="--partition=Orion --nodes=1 --ntasks-per-node=32 --mem=136GB --time=02:00:00 --mail-user=${email} --mail-type=FAIL"

# Assembly -----------------------------------------------------------------------------------------
    asm_opts="--partition=Orion --nodes=1 --cpus-per-task=48 --mem=256GB --time=128:00:00 --mail-user=${email} --mail-type=FAIL"

# Evaluation ---------------------------------------------------------------------------------------
    eval_opts="--partition=Orion --nodes=1 --cpus-per-task=1 --mem=1GB --time=01:00:00 --mail-user=${email} --mail-type=FAIL"

# Kraken2 ------------------------------------------------------------------------------------------
    k2_opts="--partition=Orion --nodes=1 --cpus-per-task=16 --mem=256GB --time=00:45:00 --mail-user=${email} --mail-type=FAIL"

# MetaPhlAn4 ---------------------------------------------------------------------------------------
    m4_opts="--partition=Orion --nodes=1 --cpus-per-task=16 --mem=64GB --time=00:45:00 --mail-user=${email} --mail-type=FAIL"

# Binning ------------------------------------------------------------------------------------------
    bin_opts="--partition=Orion --nodes=1 --cpus-per-task=12 --mem=128GB --time=04:00:00 --mail-user=${email} --mail-type=END,FAIL"

# Refinement ---------------------------------------------------------------------------------------
    refine_opts="--partition=Orion --nodes=1 --cpus-per-task=48 --mem=128GB --time=05:00:00 --mail-user=${email} --mail-type=END,FAIL"
    min_completion=70
    max_contam=10

# Reassembly ---------------------------------------------------------------------------------------
    reassem_opts="--partition=Orion --nodes=1 --cpus-per-task=8 --mem=140GB --time=24:00:00 --mail-user=${email} --mail-type=END,FAIL"

# Classification -----------------------------------------------------------------------------------
    classify_opts="--partition=Orion --nodes=1 --cpus-per-task=48 --mem=256GB --time=05:00:00 --mail-user=${email} --mail-type=FAIL"

# Annotation ---------------------------------------------------------------------------------------
    annotate_opts="--partition=Orion --nodes=1 --cpus-per-task=32 --mem=32GB --time=05:00:00 --mail-user=${email} --mail-type=FAIL"

# AMR detection ------------------------------------------------------------------------------------
    amr_opts="--partition=Orion --nodes=1 --cpus-per-task=8 --mem=8GB --time=05:00:00 --mail-user=${email} --mail-type=FAIL"   

# Assembly Gene Profiling --------------------------------------------------------------------------
    asm_profile_opts="--partition=Orion --nodes=1 --cpus-per-task=24 --mem=80GB --time=48:00:00 --mail-user=${email} --mail-type=FAIL"

# ShortBRED AMR detection --------------------------------------------------------------------------
    shortbred_opts="--partition=Orion --nodes=1 --cpus-per-task=24 --mem=16GB --time=05:30:00 --mail-user=${email} --mail-type=FAIL"

# RGI bwt AMR detection-----------------------------------------------------------------------------
    rgi_bwt_opts="--partition=Orion --nodes=1 --cpus-per-task=8 --mem=128GB --time=3:00:00 --mail-user=${email} --mail-type=FAIL"

# Pipeline clean up --------------------------------------------------------------------------------
    discard_opts="--partition=Orion --nodes=1 --cpus-per-task=1 --mem=1GB --time=00:05:00 --mail-user=${email} --mail-type=FAIL"


# DO NOT CHANGE
readType=short_read
